.Header {
    background-color: rgb(32, 32, 32);
    padding-top: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SignPortfolio {
    width: 110px;
    height: auto;
    margin-left: 10px;
}

a {
    color: rgb(3, 128, 144);
}
            
ul {
    margin-block-start: 0;
    padding-inline-start: 0;
    list-style: none;
    margin-right: 1%;
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap; 
    width: auto; 
    height: auto; 
    font-size: x-large;
    color: rgb(3, 128, 144);
    justify-content: space-around;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    .Header {
        height: 140px;
    }

    nav {
        flex-direction: column;
    }
    .centered {
        margin-left: auto;
        margin-right: auto;
    }
}