.BannerContainer {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background: black;
    display: grid;
    place-items: center;
}

.Slider {
    width: 100%;
    height: 115px;
    background-color: black;
    height: fit-content;
    position: absolute;
    overflow: hidden;
    margin-top: 752px;
}

.LogoGallery {
    width: fit-content;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoLi img{
    margin-top: 10px;
    margin-right: 90px;
    animation: slide 5s linear infinite;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}