.FormContainer {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px; 
}

.form-group {
    margin-bottom: 20px; 
}

.CvDownload {
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 5px; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px; 
    background-color: #007bff;
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

@media screen and (max-width: 1024px) {
    .contact-page {
        max-width: 90%; 
    }
}

@media screen and (max-width: 768px) {
    .form-group {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 8px;
    }

    button[type="submit"] {
        padding: 8px 16px;
    }
}
