.UlContainer {
    position: absolute;
    width: 100%;
    height: 83vh;
    margin-top: 80px;
    margin-left: 65px;
    display: flex; 
}

.Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: -1;
}

.PeopleWallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.ProjetGallery {
    gap: 100px;
}

@media screen and (max-width: 1024px) {
    .Slider {
        display: none;
    }

    .UlContainer {
        justify-content: unset;
        margin-top: 30px;
    }

    .ProjetGallery {
        display: block;
        margin-left: 300px;
    }
}