.Header {
    background-color: green;
    padding-top: 3px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
            .SignPortfolio {
                width: 110px;
                height: auto;
                margin-left: 10px;
            }
            ul {
                margin-block-start: 0;
                padding-inline-start: 0;
                background-color: pink;
                list-style: none;
                margin-right: 1%;
                margin-top: 23px;
                display: flex;
                width: 42%;
                height: 30px;
                gap: 18%;
                font-size: x-large;
            }
    }
}